extends ../../layouts/account

block head
  title Account Area

block neck
  link(rel='stylesheet', href='/views/account/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/account/index.min.js?#{cacheBreaker}')

block body
 h1 WebRTC Testing
 div#runTest
  script(type='text/template', id='tmpl-runTest')
   form
    div.form-group(class="serverSelect")
     label Server to Test:
     select(name="server")
      option Needs To install options from DB
    div.form-group(class="serverSelect")
     button.btn.btn-primary.btn-runTest(type="button", name="runTest") Run Test


 h1 Add Server
 div#createServer
  script(type='text/template', id='tmpl-createServer')
   form
    div.form-group(class="serverType")
     label Server Type:
     select(name="serverType" id="serverTypeSelect")
      option(val="stun") STUN
      option(val="turn") TURN
    div.form-group(class="serverAddress")
     label Server Address:
     input(name="serverAddress" id="serverAddress")
    div.form-group(class!="serverUsername")
     label Server username:
     input(name="serverUsername" id="serverUsername")
    div.form-group(class="serverPassword")
     label Turn Password:
     input(name="serverPassword" id="serverPassword")
    div.form-group(class="submit")
     button.btn.btn-primary.btn-createServer(type="button", name="createServer") Create Server

